/* --- Color Scheme --- */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --modal: #abacb3;
  --grey: #808080;
  --white: #fff;
  --dairy: #fcfcfc;

  --hero-gradient: #2e2f42b3;

  --shadow-text: #00000040;
  --shadow-box: #00000026;

  --shadow-side: #2e2f4214;
  --shadow-bottom: #2e2f4229;

  --filter-one: #0000001f;
  --filter-two: #00000014;
  --filter-three: #0000001a;
}
/* --- Color Scheme --- */

/* ---- Typography ---- */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .32px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  text-transform: capitalize;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: .72px;
}

h3 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .4px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: var(--slate);
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: .54px;
}
/* ---- Typography ---- */

/* --- Header Style --- */
.body-header {
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px var(--shadow-side),
              0px 1px 1px 0px var(--shadow-bottom),
              0px 2px 1px 0px var(--shadow-side);
}

.header {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.logo-header {
  color: var(--navyblue);
}

.navigation-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin: 24px 0 24px 76px;
}

.navigation-link {
  color: var(--navyblue);
  font-weight: 500;
  text-decoration: none;
}

.address-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin: 24px 0;
}

.address-link {
  color: var(--slate);
  font-style: normal;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
/* --- Header Style --- */

/* ---- Main Style ---- */

/* Hero Section */
.hero-section {
  background: var(--navyblue);
  background: linear-gradient( var(--hero-gradient), 
                               var(--hero-gradient) ), 
              url('../images/people-office-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: var(--white);
  text-align: center;
  text-shadow: 0px 4px 4px var(--shadow-text);
  width: 496px;
  margin-bottom: 48px;
}

.order-button {
/* Button Style */
  background: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--shadow-box);
  padding: 16px 32px;
  /* transition: all 0.1s ease-in-out; */
/* Text Style */
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .64px;
}

.order-button:hover,
.order-button:focus {
  background: var(--ocean);
}

.order-button:active {
  background: var(--iris);
}
/* Hero Section */

/* Advantage Section */
.advantage-section {
  background: var(--white);
  padding-top: 120px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.advantage-background {
  background: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 264px/*100%*/;
  height: 112px;
}
/* Advantage Section */

/* Service Section */
.service-section {
  background: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.service-title {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.service-list img {
  border: 1px solid var(--cornflower);
}
/* Service Section */

/* Team Section */
.team-section {
  background: var(--cloud);
  padding: 120px 0;
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--color-white);
  box-shadow: 0px 2px 1px 0px var(--shadow-side),
              0px 1px 1px 0px var(--shadow-bottom),
              0px 1px 6px 0px var(--shadow-side);
}

.team-details {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.team-socmed-list {
  display: inline-flex;
  gap: 24px;
}

.team-socmed-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
}

.team-socmed-item:hover,
.team-socmed-item:focus {
  background-color: var(--ocean);
}

.team-socmed-icon {
  width: auto;
  fill: var(--cloud);
}
/* Team Section */

/* Customer Section */
.customer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;
}

.customer-title {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.customer-list {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.customer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
}

.customer-icon {
  width: auto;
  fill: var(--lightslate);
}

.customer-item:hover,
.customer-item:focus {
  border: 1px solid var(--ocean);
}

.customer-item:hover svg,
.customer-item:focus svg {
  fill: var(--ocean);
}
/* Customer Section */
/* ---- Main Style ---- */

/* --- Footer Style --- */
.body-footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  gap: 120px
}

.footer-logo {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  width: 264px;
  margin-top: 16px;
}

.footer-socmed {
  color: var(--white);
  font-weight: 500;
}

.footer-socmed-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 16px;
}

.footer-socmed-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
}

.footer-socmed-item:hover,
.footer-socmed-item:focus {
  background: var(--green);
}

.footer-socmed-icon {
  width: auto;
  fill: var(--cloud);
}
/* --- Footer Style --- */

/* -- Portfolio Style -- */
.portfolio-section {
  flex-direction: column;
  padding: 96px 0 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
/* Button Style */
  background: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
/* Text Style */
  color: var(--iris);
  padding: 12px 24px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .64px;
}

.filter-button:hover,
.filter-button:focus {
/* Button Style */
  background: var(--ocean);
  border: none;
  box-shadow: 0px 2px 2px 0px var(--filter-one),
              0px 2px 1px 0px var(--filter-two),
              0px 3px 1px 0px var(--filter-three);
/* Text Style */
  color: var(--white);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  background: var(--white);

}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px var(--shadow-side),
              0px 1px 1px 0px var(--shadow-bottom),
              0px 1px 6px 0px var(--shadow-side);
  cursor: pointer;
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}
/* -- Portfolio Style -- */